<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Gallos{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <style>
    .navbar-nav .nav-link:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 5px;
    }
    * {
     font-family: sans-serif;
    }
  </style>
</head>
<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-lg">
    <div class="container">
      <a class="navbar-brand fw-bold" href="/">
        <i class="bi bi-cocktail me-2"></i> Sistema de Gallos
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi-list-check me-1"></i> Gallos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'index' %}"><i class="bi-list-check me-1"></i> Ver Gallos</a></li>
              <li><a class="dropdown-item" href="{% url 'crear' %}"><i class="bi bi-plus-square me-1"></i> Registrar Gallo</a>
              <li><a class="dropdown-item" href="{% url 'filtros_gallos' %}"><i class="bi bi-filter-circle me-1"></i> Filtros avanzados de Gallos</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'duenoanterior_list' %}"><i class="bi bi-clipboard2-plus me-1"></i>
                  Dueños anteriores</a></li>
              <li><a class="dropdown-item" href="{% url 'estado_list' %}"><i class="bi bi-clipboard2-plus me-1"></i>
                  Estados</a></li>
              <li><a class="dropdown-item" href="{% url 'color_list' %}"><i class="bi bi-palette me-1"></i> Colores</a></li>
              <li><a class="dropdown-item" href="{% url 'galpon_list' %}"><i class="bi bi-house me-1"></i> Galpones</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi-trophy me-1"></i> Encuentros
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'listar_encuentros' %}"><i class="bi-trophy me-1"></i> Ver Encuentros</a></li>
              <li><a class="dropdown-item" href="{% url 'crear_encuentro' %}"><i class="bi bi-plus-square me-1"></i> Registrar Encuentro</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'galpon_list' %}"><i class="bi bi-house me-1 d-none d-md-inline"></i> Galpones</a></li>
              <li><a class="dropdown-item" href="{% url 'estado_list' %}"><i class="bi bi-clipboard2-plus me-1 d-none d-md-inline"></i> Estados</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'export_db' %}">
              <i class="bi bi-database-down me-1"></i> Exportar Base de Datos
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container mt-4">
    {% block content %}
    {% endblock %}
  </div>
  <script>
    const inputs = document.querySelectorAll('input[type="text"], textarea');

    inputs.forEach(input => {
      input.addEventListener('input', () => {
        input.value = input.value.toUpperCase();
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>